@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color: #005598;
}

body {
    font-family: Arial, 'Noto Sans TC', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

.fade-in {
    animation: 0.3s fadeIn forwards;
}

.fade-out {
    animation: 0.3s fadeOut forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
